/*#5a493f#5a493f*/

/* spot */

.spot-more-btn {
    /* 閱讀更多(景點)按鈕 */
    color: #5a493f;
    /* 第二主色 */
}

.news-more-btn {
    /* 與index共用 */
    color: #5a493f;
    /* 第二主色 */
}

.swiper-slide {
    color: #fff;
}

/* 會被主色影響 */

.swiper-slide.active {
    background-color: #5a493f;
    /* 第一主色 */
}

.page-to-top {
    background-image: url('../../images/theme/cool-brown2/to-top.png');
    background-size: 100%;
    background-position: 0 0;
}

footer a,
.footer-relatived-link-list a,
.footer-bnb-link {
    color: #5a493f;
    /* 主色 */
}

.master-scroll-btn {
    /* 2a獨有的捲動按鈕(每頁都有) */
    background-image: url('../../images/theme/cool-brown2/down-arrow.png');
    background-size: 100%;
    background-position: 0 0;
}

/* index */

.index-sect-title-1,
/* 好康優惠 */

.index-sect-title-2,
/* 最新消息 */

.index-sect-title-3-title
/* 關於我們 */

    {
    /* 圓形大標 */
    color: #fff;
    /* 會被主色影響 */
    background-color: #5a493f;
}

.index-sect-5 {
    color: #fff;
    /* 會被主色影響 */
    background-image: url('../../images/theme/cool-brown2/pattern2.jpg');
    background-size: 32px 32px;
    background-repeat: repeat;
    background-position: 0 0;
}

.index-sect-5 .index-unfold-btn::before {
    /* 主人的話的文章過長按鈕(模擬向下箭頭) */
    border-top-color: #fff;
    /* 背景為主色 所以在顏色css中設定 */
}

.index-sect-3 .index-unfold-btn::before,
/* 關於我們的文章過長按鈕(模擬向下箭頭) */

.index-sect-4 .index-unfold-btn::before {
    /* 民宿特色的文章過長按鈕(模擬向下箭頭) */
    border-top-color: #5a493f;
}

/* about_us & index */

header::after {
    /* 2a 利用js動態產生的slider(只出現在index和about) */
    background-color: #5a493f;
}

.slider-tab {
    /* 2a 利用js動態產生的slider tab(只出現在index和about) */
    color: #fff;
    /* 會被主色影響 */
    background-color: #5a493f;
}

/* about_us */

.about-sect-title-1 {
    /* 圓形大標 */
    color: #fff;
    /* 會被主色影響 */
    background-color: #5a493f;
}

.about-sect-4 {
    /* 關於我們的第四個區塊 - 主人的話 */
    color: #fff;
    /* 會被主色影響 */
    background-image: url('../../images/theme/cool-brown2/pattern2.jpg');
    background-size: 32px 32px;
    background-repeat: repeat;
    background-position: 0 0;
}

.about-sect-4 .about-unfold-btn::before {
    /* 入住(租房)須知的文章過長按鈕(模擬向下箭頭) */
    border-top-color: #fff;
    /* 背景為主色 所以在顏色css中設定 */
}

.about-sect-2 .about-unfold-btn::before,
.about-sect-3 .about-unfold-btn::before {
    /* 改期退訂的文章過長按鈕(模擬向下箭頭) */
    border-top-color: #5a493f;
}

/* news */

.news-sect-title {
    /* 圓形大標 */
    color: #fff;
    /* 會被主色影響 */
    background-color: #5a493f;
}

.news-arti-link {
    color: #fff;
    /* 會被主色影響 */
    background-color: #5a493f;
}

.news-arti-duration {
    color: #5a493f;
}

.news-unfold-btn::before,
.location-unfold-btn::before {
    /* 文章過長按鈕 */
    border-top-color: #5a493f;
}

.news-more-btn::after {
    background-image: url('../../images/theme/cool-brown2/more-arrow.png');
    background-size: 100%;
    background-position: 0 0;
}

/* location */

.location-sect-title-1 {
    /* 圓形大標 */
    color: #fff;
    /* 會被主色影響 */
    background-color: #5a493f;
}

.location-sect-2 {
    color: #fff;
    /* 會被主色影響 */
    background-image: url('../../images/theme/cool-brown2/pattern2.jpg');
    background-size: 32px 32px;
    background-repeat: repeat;
    background-position: 0 0;
}

/* house_info */

.house-sect-title-1 {
    /* 圓形大標 */
    color: #fff;
    /* 會被主色影響 */
    background-color: #5a493f;
}

.house-sect-6 {
    color: #fff;
    /* 會被主色影響 */
    background-image: url('../../images/theme/cool-brown2/pattern2.jpg');
    background-size: 32px 32px;
    background-repeat: repeat;
    background-position: 0 0;
}

.house-sect-6 .house-unfold-btn::before {
    /* 入住(租房)須知的文章過長按鈕(模擬向下箭頭) */
    border-top-color: #fff;
    /* 背景為主色 所以在顏色css中設定 */
}

.house-sect-7 .house-unfold-btn::before {
    /* 改期退訂的文章過長按鈕(模擬向下箭頭) */
    border-top-color: #5a493f;
}

.house-btn {
    color: #fff;
    /* 會被主色影響 */
    background-color: #5a493f;
}

/* spot */

.spot-sect-title-1 {
    /* 圓形大標 */
    color: #fff;
    /* 會被主色影響 */
    background-color: #5a493f;
}

.spot-more-btn::after {
    background-image: url('../../images/theme/cool-brown2/plus-icon.png');
    background-size: 100%;
    background-position: 0 0;
}

.spot-list a {
    /* 週邊導覽的圖文連結清單 */
    border-bottom-color: #5a493f;
}

/* album */

.album-sect-title-1 {
    /* 圓形大標 */
    color: #fff;
    /* 會被主色影響 */
    background-color: #5a493f;
}

.album-head::after {
    /* 相簿選單箭頭 */
    border-top-color: #5a493f;
}

/* room info */

.room-info-sect-title-1 {
    /* 圓形大標 */
    color: #fff;
    background-color: #5a493f;
}

.room-list-item {
    /* 客房介紹(清單)的房間清單(li) */
    background-image: url('../../images/theme/cool-brown2/pattern2.jpg');
    background-size: 32px 32px;
    background-repeat: repeat;
    background-position: 0 0;
}

.room-list-txt {
    color: #fff;
    /* 會被主色影響 */
}

.room-list-cont-1 {
    border-color: #fff;
    /* 會被主色影響 */
}

.room-info-sect-2 a {
    /* 查看完整房價按鈕 */
    color: #5a493f;
    border-color: #5a493f;
}

/* room rate */

.room-rate-sect-title-1 {
    /* 圓形大標 */
    color: #fff;
    /* 會被主色影響 */
    background-color: #5a493f;
}

/* fullview */

.view-sect-title-1 {
    /* 圓形大標 */
    color: #fff;
    /* 會被主色影響 */
    background-color: #5a493f;
}

/* contact */

.contact-sect-title-1 {
    /* 圓形大標 */
    color: #fff;
    /* 會被主色影響 */
    background-color: #5a493f;
}

.contact-sect-3 {
    /* 表單區域 */
    color: #fff;
    /* 會被主色影響 */
    background-image: url('../../images/theme/cool-brown2/pattern2.jpg');
    background-size: 32px 32px;
    background-repeat: repeat;
    background-position: 0 0;
}

.contact-btn {
    color: #5a493f;
}

/* reservation */

.resv-sect-title-1 {
    /* 圓形大標 */
    color: #fff;
    /* 會被主色影響 */
    background-color: #5a493f;
}

.resv-sect-4 {
    /* 表單區塊 */
    color: #fff;
    /* 會被主色影響 */
    background-image: url('../../images/theme/cool-brown2/pattern2.jpg');
    background-size: 32px 32px;
    background-repeat: repeat;
    background-position: 0 0;
}

.add-room-btn-v {
    /* 增加房型按鈕 */
    color: #fff;
    /* 會被主色影響 */
    border-color: #fff;
    /* 會被主色影響 */
}

/* room */

.room-sect-title-1 {
    /* 圓形大標 */
    color: #fff;
    /* 會被主色影響 */
    background-color: #5a493f;
}

.room-head::after {
    /* 相簿選單箭頭 */
    border-top-color: #5a493f;
}

.room-sect-2 {
    /* 客房介紹的第二個區塊 - 價格 */
    color: #fff;
    /* 會被主色影響 */
    background-image: url('../../images/theme/cool-brown2/pattern2.jpg');
    background-size: 32px 32px;
    background-repeat: repeat;
    background-position: 0 0;
}

.room-intro-txt dt::before {
    /* 客房介紹的第二個區塊 - 基本介紹 */
    background-color: #5a493f;
}

.reservation-btn {
    /* 客房介紹的第二個區塊 - 基本介紹 */
    color: #fff;
    /* 會被主色影響 */
    background-color: #5a493f;
}

.room-sect-4 {
    /* 客房介紹的第四個區塊 - 注意事項 */
    color: #fff;
    /* 會被主色影響 */
    background-image: url('../../images/theme/cool-brown2/pattern2.jpg');
    background-size: 32px 32px;
    background-repeat: repeat;
    background-position: 0 0;
}

.room-sect-4 .room-unfold-btn::before {
    /* 入住(租房)須知的文章過長按鈕(模擬向下箭頭) */
    border-top-color: #fff;
    /* 背景為主色 所以在顏色css中設定 */
}

.room-sect-5 .room-unfold-btn::before {
    /* 改期退訂的文章過長按鈕(模擬向下箭頭) */
    border-top-color: #5a493f;
}

/* 版型獨佔 list-style */

.pre-html-tag ul li::before,
.list-exc li::before {
    background-color: #5a493f;
}

/* 版型獨佔 list-style(反色) */

.house-sect-6 .pre-html-tag ul li::before,
.room-sect-4 .pre-html-tag ul li::before {
    background-color: #fff;
    /* 會被主色影響 */
}

/* cuisine_info & activity_info */

.cuisine-info-sect-title-1,
.activity-info-sect-title-1 {
    /* 圓形大標 */
    color: #fff;
    /* 會被主色影響 */
    background-color: #5a493f;
}

.cuisine-info-sect-icon {
    background-image: url('../../images/theme/cool-brown2/cuisine-icon.png');
    background-size: 100%;
    background-position: 0 0;
}

.activity-info-sect-icon {
    background-image: url('../../images/theme/cool-brown2/activity-icon.png');
    background-size: 100%;
    background-position: 0 0;
}

.cuisine-info-list>li,
.activity-info-list>li {
    /* 美食饗宴的圖文連結清單 */
    border-bottom-color: #5a493f;
}

.cuisine-info-list-link,
.activity-info-list-link {
    /* 美食饗宴的圖文連結清單的連結 */
    color: #fff;
    /* 會被主色影響 */
    background-color: #5a493f;
}

.cuisine-info-list-link::before {
    /* 美食饗宴的圖文連結清單的連結的icon */
    background-image: url('../../images/theme/cool-brown2/cuisine-more.png');
    background-size: 100%;
    background-position: 0 0;
}

.activity-info-list-link::before {
    /* 精彩活動的圖文連結清單的連結的icon */
    background-image: url('../../images/theme/cool-brown2/activity-more.png');
    background-size: 100%;
    background-position: 0 0;
}

.cuisine-info-tab span,
.activity-info-tab span {
    color: #5a493f;
    background: url('../../images/theme/cool-brown2/cuisine-tab-bg.png') repeat-x 0 0;
    background-size: 1px 100%;
}

.cuisine-info-tab::before,
.activity-info-tab::before {
    background: url('../../images/theme/cool-brown2/cuisine-tab-before.png') no-repeat 0 0;
    background-size: 100% 100%;
}

.cuisine-info-tab::after,
.activity-info-tab::after {
    background: url('../../images/theme/cool-brown2/cuisine-tab-after.png') no-repeat 0 0;
    background-size: 100% 100%;
}

/* cuisine & activity */

.cuisine-sect-title-1,
.activity-sect-title-1,
.cuisine-intro-content-2::after,
.activity-intro-content-2::after {
    /* 圓形大標 */
    color: #fff;
    /* 會被主色影響 */
    background-color: #5a493f;
}

.cuisine-sect-icon {
    background-image: url('../../images/theme/cool-brown2/cuisine-icon.png');
    background-size: 100%;
    background-position: 0 0;
}

.activity-sect-icon {
    background-image: url('../../images/theme/cool-brown2/activity-icon.png');
    background-size: 100%;
    background-position: 0 0;
}

.cuisine-tab span,
.activity-tab span {
    color: #5a493f;
    background: url('../../images/theme/cool-brown2/cuisine-tab-bg.png') repeat-x 0 0;
    background-size: 1px 100%;
}

.cuisine-tab::before,
.activity-tab::before {
    background: url('../../images/theme/cool-brown2/cuisine-tab-before.png') no-repeat 0 0;
    background-size: 100% 100%;
}

.cuisine-tab::after,
.activity-tab::after {
    background: url('../../images/theme/cool-brown2/cuisine-tab-after.png') no-repeat 0 0;
    background-size: 100% 100%;
}

.cuisine-tab.active span,
.activity-tab.active span {
    color: #fff;
    /* 會被主色影響 */
    background: url('../../images/theme/cool-brown2/cuisine-tab-bg-active.png') repeat-x 0 0;
    background-size: 1px 100%;
}

.cuisine-tab.active::before,
.activity-tab.active::before {
    background: url('../../images/theme/cool-brown2/cuisine-tab-before-active.png') no-repeat 0 0;
    background-size: 100% 100%;
}

.cuisine-tab.active::after,
.activity-tab.active::after {
    background: url('../../images/theme/cool-brown2/cuisine-tab-after-active.png') no-repeat 0 0;
    background-size: 100% 100%;
}

.cuisine-intro-box-1,
.activity-intro-box-1 {
    border-bottom-color: #5a493f;
}

.cuisine-intro-content-box,
.activity-intro-content-box {
    border-bottom-color: #5a493f;
}

.cuisine-photos-item,
.activity-photos-item {
    border-bottom-color: #5a493f;
}

.cuisine-photos-item-link,
.activity-photos-item-link {
    /* 美食饗宴的圖文連結清單的連結 */
    color: #fff;
    /* 會被主色影響 */
    background-color: #5a493f;
}

.cuisine-photos-item-link::before {
    /* 美食饗宴的圖文連結清單的連結的icon */
    background-image: url('../../images/theme/cool-brown2/cuisine-more.png');
    background-size: 100%;
    background-position: 0 0;
}

.activity-photos-item-link::before {
    /* 美食饗宴的圖文連結清單的連結的icon */
    background-image: url('../../images/theme/cool-brown2/activity-more.png');
    background-size: 100%;
    background-position: 0 0;
}

.lightbox-active .cuisine-lightbox-show,
.lightbox-active .activity-lightbox-show {
    border-bottom-color: #5a493f;
}

.cuisine-intro-content-1,
.activity-intro-content-1 {
    /* 請Jackie提供 */
    color: #000;
    background-color: #e5d9cf;
}

.cuisine-pricelist-table td,
.cuisine-pricelist-table th,
.activity-pricelist-table td,
.activity-pricelist-table th {
    /* 請Jackie提供 */
    background-color: #e5d9cf;
}

@media screen and (min-width: 768px) {
    /* cuisine_info */
    .cuisine-info-tab:active span,
    .activity-info-tab:active span {
        color: #fff;
        /* 會被主色影響 */
        background: url('../../images/theme/cool-brown2/cuisine-tab-bg-active.png') repeat-x 0 0;
        background-size: 1px 100%;
    }
    .cuisine-info-tab:active::before,
    .activity-info-tab:active::before {
        background: url('../../images/theme/cool-brown2/cuisine-tab-before-active.png') no-repeat 0 0;
        background-size: 100% 100%;
    }
    .cuisine-info-tab:active::after,
    .activity-info-tab:active::after {
        background: url('../../images/theme/cool-brown2/cuisine-tab-after-active.png') no-repeat 0 0;
        background-size: 100% 100%;
    }
    /* cuisine */
    .cuisine-tab:active span,
    .activity-tab:active span {
        color: #fff;
        /* 會被主色影響 */
        background: url('../../images/theme/cool-brown2/cuisine-tab-bg-active.png') repeat-x 0 0;
        background-size: 1px 100%;
    }
    .cuisine-tab:active::before,
    .activity-tab:active::before {
        background: url('../../images/theme/cool-brown2/cuisine-tab-before-active.png') no-repeat 0 0;
        background-size: 100% 100%;
    }
    .cuisine-tab:active::after,
    .activity-tab:active::after {
        background: url('../../images/theme/cool-brown2/cuisine-tab-after-active.png') no-repeat 0 0;
        background-size: 100% 100%;
    }
    .cuisine-info-list-link:hover,
    .activity-info-list-link:hover,
    .cuisine-photos-item-link:hover,
    .activity-photos-item-link:hover {
        /* 美食饗宴的圖文連結清單的連結 */
        color: #fff;
        /* 會被主色影響 */
        /* 請Jackie提供(較深) */
        background-color: #5a443f;
    }
}

@media screen and (min-width: 768px) {
    .swiper-slide.active::before {
        border-top-color: #5a493f;
        /* 第一主色 */
    }
}

@media screen and (max-width: 767px) {
    .master-menu-bar {
        background-color: #5a493f;
        /* 第一主色 */
    }
}