.main-sect {
    /* main的section */
    padding: 40px;
}

.captcha-code {
    margin-bottom: 6px;
}

.requ-mark {
    color: #F7C631;
}

.contact-sect-1 {
    /* 只用來裝標題的section */
}

.contact-sect-title-1 {
    /* 入住資訊的標題 - 2a 圓圓的那顆 */
    width: 125px;
    height: 125px;
    margin: 0 auto;
    /* 不需要margin-bottom (每頁的圈圈設定不同請留意) */
    padding-top: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.1;
    text-align: center;
    border-radius: 50%;
}

.contact-sect-title-1::before {
    content: '';
    display: block;
    width: 80%;
    margin: auto;
    padding-top: 27%;
    background: url('../images/title-2a.png') no-repeat;
    background-size: 100%;
    background-position: 0 -210px;
}

.contact-sect-title {
    /* 區塊(公用樣式) */
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
}

.contact-sect-cont {
    /* 標題(公用樣式) */
    margin-top: 20px;
}

.contact-sect-2 {
    /* 匯款通知區塊 */
}

.contact-sect-title-2 {
    /* 匯款通知標題 */
}

.contact-sect-cont-2 {
    /* 匯款通知內容容器 */
}

.contact-note-div {
    /* 匯款通知內容 - 匯款備註(不一定會有) */
}

.contact-bank-div {
    /* 匯款通知內容 - 帳戶資料(一定會有) */
    width: 100%;
    max-width: 300px;
    margin: 30px auto;
    padding: 30px 6px;
    text-align: center;
    line-height: 1.8;
    color: #fff;
    background-color: #555;
}

.contact-bank-div-title {
    /* 匯款通知內容 - 帳戶資料標題(匯款資訊) */
    padding-bottom: 10px;
}

.contact-bank-div-cont {
    /* 匯款通知內容 - 帳戶資料標題(帳戶資料) */
}

.contact-sect-3 {
    /* 表單區塊 */
}

.contact-sect-title-3 {
    /* 表單標題 */
}

.contact-sect-cont-3 {
    /* 表單內容容器 */
}

.contact-sect-4 {
    /* 預付訂金區塊 */
    text-align: center;
    background-color: rgba(200, 200, 200, 0.25);
}

.contact-sect-title-4 {
    /* 預付訂金標題 */
}

.contact-sect-cont-4 {
    /* 預付訂金內容容器 */
}

.contact-sect-5 {
    /* 聯絡方式區塊 */
}

.contact-sect-title-5 {
    /* 聯絡方式標題 */
    margin: auto;
}

.contact-sect-cont-5 {
    /* 聯絡方式內容容器 */
}

.contact-list-div {
    /* 聯絡方式內容 - 聯絡清單(相關社群連結等) */
}

.contact-qrcode-div {
    /* 聯絡方式內容 - 二維碼列表 */
    /* width: 740px; */
    margin: 40px 0 0;
    text-align: left;
}

.contact-qrcode-div span {
    width: 120px;
    display: inline-block;
    margin: 0 10px;
    text-align: center;
}

.contact-qrcode-div .qr-self {
    width: 150px;
}

.qr-txt {
    width: 100%;
    padding: 3px 0;
}

.qr-img {
    position: relative;
    width: 120px;
    height: 120px;
    margin: auto;
}

.qr-img img {
    width: 100%;
    height: 100%;
}

/* 預付訂金 */

.pay-tool-icon {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 0 20px 20px;
    background: url('../../../images/pay-tool.png') no-repeat;
    background-size: 400px 400px;
}

.pay-tool-icon.paypal {
    background-position: 0 0;
}

.pay-tool-icon.paypal:hover {
    background-position: 0 -200px;
}

.pay-tool-icon.other-tool-1 {
    background-position: -200px 0;
}

.pay-tool-icon.other-tool-2 {
    background-position: -200px -200px;
}

.pay-tool-icon.other-tool-1 img,
.pay-tool-icon.other-tool-2 img {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 60px;
    right: 0;
    left: 0;
    margin: auto;
}

.pay-tool-icon.other-tool-3 {
    display: block;
    width: 200px;
    height: 55px;
    margin: auto;
    background: none;
}

.pay-tool-icon.other-tool-3 a {
    display: block;
}

@media screen and (min-width: 1280px) {
    .main-sect {
        /* main的section */
        padding: 60px 20%;
    }
    .contact-sect-1 {
        /* 只用來裝標題的section (與main-sect 無關) */
        padding: 60px 20% 0;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1279px) {
    .main-sect {
        /* main的section */
        padding: 60px 12%;
    }
    .contact-sect-1 {
        /* 只用來裝標題的section (與main-sect 無關) */
        padding: 60px 12% 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 999px) {
    .main-sect {
        /* main的section */
        padding: 60px 5%;
    }
    .contact-sect-1 {
        /* 只用來裝標題的section (與main-sect 無關) */
        padding: 60px 5% 0;
    }
}

@media screen and (min-width: 768px) {
    .contact-list-div li {
        /* 聯絡方式內容 - 聯絡清單(相關社群連結等) */
        width: 100%;
        /* max-width: 500px; */
        margin: auto;
        line-height: 2;
    }
}

@media screen and (max-width: 767px) {
    /* 2a mob style ▼ - 各頁可以套用(除了首頁和關於我們) */
    header {
        /* 各頁(除了首頁和關於我們) - 手機版header不滿版 */
        position: fixed;
        height: 72px;
        min-height: 72px;
        background-color: rgba(0, 0, 0, 0.80);
        z-index: 9998;
    }
    header::after {
        display: none;
    }
    h1 {
        /* 各頁(除了首頁和關於我們) - 民宿名稱 */
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        margin: auto;
        transform: translate(-50%, -50%);
        transform: -ms-translate(-50%, -50%);
        transform: -webkit-translate(-50%, -50%);
        /* font-size: 1.5rem; */
        font-size: 5vw;
    }
    .header-logo {
        position: absolute;
        width: 48px;
        height: 48px;
        top: 12px;
        left: 6px;
    }
    .header-logo img {
        width: 100%;
    }
    .swiper-outter-container {
        /* menu */
        padding-top: 72px;
    }
    h1::before,
    /* 各頁(除了首頁和關於我們) - 手機版民宿名稱不會有上邊線 */
    h1::after,
    /* 各頁(除了首頁和關於我們) - 手機版民宿名稱不會有下邊線 */
    .slogan,
    /* 各頁(除了首頁和關於我們) - 手機版不會有slogan */
    .master-pc-banner {
        /* 各頁(除了首頁和關於我們) - 不會有首頁的banner */
        display: none;
    }
    .mob-page-banner {
        /* 各頁(除了首頁和關於我們) - 獨立圖片banner */
        position: relative;
        width: 100%;
        /* padding-top: 123.4375%; */
        padding-top: 134%;
        overflow: hidden;
    }
    .mob-page-banner img {
        position: absolute;
        height: 100%;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        transform: -webkit-translate(-50%, 0);
        transform: -ms-translate(-50%, 0);
        margin: auto;
    }
    /* 2a mob style ▲ - 各頁可以套用(除了首頁和關於我們) */
    .main {
        /* 聯絡我們 */
    }
    .main-sect {
        /* main的section */
        padding: 60px 5%;
    }
    .contact-sect-1 {
        /* 只用來裝標題的section (與main-sect 無關) */
        padding: 60px 5% 0;
    }
    .contact-qrcode-div {
        display: none;
    }
}

/* 表單(所有版本都一樣？) */

.list-table {
    width: 100%;
}

input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.contact-btn {
    display: block;
    width: 150px;
    height: 40px;
    margin: 30px auto 0;
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #E0E0E0;
    letter-spacing: 1px;
}

.captchaCode-demo {
    width: 250px;
    height: 50px;
    background-color: #f00;
}

.ttd {
    text-align: left;
}

.item-col-h {
    display: block;
    margin: 16px 0 8px;
}

input.item-col-d,
select.item-col-d,
textarea.item-col-d {
    min-height: 32px;
    padding: 2px 6px;
    line-height: 1.5em;
    border: none;
}

.add-btn-box {
    position: relative;
}

.add-btn {
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.reserve-room-table {
    vertical-align: top;
}

.add-room-btn {
    display: block;
    width: 90px;
    margin-top: 4px;
    font-size: 14px;
    padding: 2px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
}

.reserve-room-table td input,
.reserve-room-table td select {
    width: 100%;
    min-height: 32px;
    padding: 2px 6px;
    line-height: 1.5em;
    border: none;
}

.more-room-tr {
    height: 36px;
}

.more-room-tr td {
    padding-top: 3px;
}

.reserve-room-table .room-select-td select {
    position: relative;
    top: -1px;
}

.reserve-room-table .qty-select-td select {
    text-align: center;
}

.qty-txt-td {
    text-align: center
}

.del-btn-td {
    position: relative;
}

.del-btn {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    border-color: #d00;
    background-color: #fff;
    cursor: pointer;
}

.del-btn::before,
.del-btn::after {
    content: '';
    position: absolute;
    width: 13px;
    height: 3px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    background-color: #d00;
}

.del-btn::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.del-btn::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}

.captcha-code-input {
    margin-bottom: 6px;
}

#txtCheckinDate,
#txtCheckoutDate,
#txtRemitAt,
.alert-h {
    cursor: pointer;
}

.fake-select,
.fake-select-more {
    cursor: pointer;
}

.fake-triangle {
    top: 13px;
}

.fake-triangle-more {
    top: 16px;
}

.room-select-td,
.qty-select-td {
    position: relative;
    cursor: pointer;
}

.fake-triangle,
.fake-triangle-more {
    position: absolute;
    width: 0;
    height: 0;
    right: 7px;
    border-top: 6px solid #555;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    cursor: pointer;
}

.fake-option-list,
.fake-option-list-more {
    display: none;
    position: absolute;
    width: 100%;
    top: 32px;
    left: 0;
    background-color: #FFF;
    color: #000;
    z-index: 10;
}

.fake-option-list li,
.fake-option-list-more li {
    width: 100%;
    padding: 0 2px 0 4px;
    font-size: 14px;
    line-height: 1.5em;
}

.fake-option-list li:hover,
.fake-option-list-more li:hover {
    background-color: #EFEFEF;
}

.fake-select.qty-select~.fake-option-list,
.fake-select-more.qty-select~.fake-option-list-more {
    text-align: center;
}

.fake-option-list.active,
.fake-option-list-more.active {
    display: block;
}

.reserve-room-table tr:first-of-type {
    height: 33px;
}

.alert-block {
    display: none;
    width: 90%;
    margin: 20px auto 0;
    text-align: left;
    line-height: 1.8em;
    color: #ED0000;
    background-color: #FFF;
    padding: 6px;
}

.alert-err {
    background-color: #E7C4C4 !important;
}

.alert-block .alert-h {
    border: 1px solid #ED0000;
    margin-right: 10px;
    padding: 2px;
    cursor: pointer;
}

.red-hl {
    font-size: 1.2em;
}

@media screen and (min-width: 961px) {
    table.reserve-room-table.item-col-d {
        width: 80%;
        max-width: 490px;
    }
    .room-select-td {
        width: 70%;
        max-width: 343px;
    }
    .qty-txt-td {
        width: 10%;
        max-width: 49px;
    }
    .qty-select-td {
        width: 10%;
        max-width: 49px;
    }
    .del-btn-td {
        width: 10%;
        max-width: 49px;
    }
}

@media screen and (min-width: 768px) {
    .ttr {
        width: 100%;
    }
    .ttr::after {
        content: '';
        display: block;
        clear: both;
        height: 0;
    }
    .ttd.col1 {
        width: 100%;
    }
    .ttd.col2 {
        float: left;
        width: 50%;
    }
    .item-col-h,
    .item-col-d {
        width: 60%;
    }
    textarea.item-col-d {
        width: 80%;
    }
    .add-btn {
        top: 16px;
        right: 41%;
    }
    table.reserve-room-table.item-col-d {
        width: 80%;
    }
    .room-select-td {
        width: 70%;
    }
    .qty-txt-td {
        width: 10%;
    }
    .qty-select-td {
        width: 10%;
    }
    .del-btn-td {
        width: 10%;
    }
}

@media screen and (max-width: 767px) {
    .ttr,
    .ttd.col1,
    .ttd.col2,
    .item-col-h,
    .item-col-d {
        width: 100%;
    }
    .room-select-td {
        width: 55%;
    }
    .qty-txt-td {
        width: 15%;
    }
    .qty-select-td {
        width: 15%;
    }
    .del-btn-td {
        width: 15%;
    }
}