.main-sect { /* main的section */
    position: relative;
}
.index-sect-title-1,
.index-sect-title-2 { /* 優惠訊息、最新消息(共用)的標題 */
    width: 125px;
    height: 125px;
    margin: 0 auto 60px;
    padding-top: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.1;
    text-align: center;
    border-radius: 50%;
}
.index-sect-title-1::before,
.index-sect-title-2::before { /* 優惠訊息、最新消息(共用)的標題 */
    content: '';
    display: block;
    width: 80%;
    margin: auto;
    padding-top: 27%;
    background: url('../images/title-2a.png') no-repeat;
    background-size: 100%;
}
.index-sect-title-1::before {
    background-position: 0 0;
}
.index-sect-title-2::before {
    background-position: 0 -30px;
}
.news-arti-div { /* 消息文章(共用)的容器 */
    position: relative;
    margin-bottom: 60px;
}
.news-arti-head { /* 消息文章(共用)的標題 */
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #000;
}
.news-unfold-div { /* 文章過長控制div */
    position: relative;
    margin: 10px 0;
}
.news-unfold-div img,
.js-index-unfold-inner img {
    max-width: 100%;
}
.news-unfold-btn { /* 文章過長按鈕 */
    position: relative;
    display: block;
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    text-decoration: none;
}
.news-unfold-btn::before { /* 文章過長按鈕 */
    position: absolute;
    content: '';
    display: block;
    width: 0;
    height: 0;
    top: 12px;
    right: 0;
    left: 0;
    margin: auto;
    border: 12px solid transparent;
    z-index: 2;
}
.news-arti-cont { /* 消息文章(共用)的內文 */
    padding: 0;
}
.news-arti-link { /* 消息文章(共用)的連外連結 */
    display: inline-block;
    padding: 0 8px;
    line-height: 2;
    text-decoration: none;
}
.news-arti-duration { /* 消息文章(共用)的期間 */

}
.news-more-btn { /* 消息文章(共用)的更多文章按鈕 */
    display: block;
    width: 80px;
    margin: auto;
    padding: 0 8px;
    line-height: 2;
    text-decoration: none;
}
.news-more-btn::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 13px;
    margin-left: 4px;
    vertical-align: middle;
    border-radius: 50%;
}
.index-sect-title-3-title { /* 關於我們的標題 - 2a 圓圓的那顆 */
    width: 125px;
    height: 125px;
    margin: 0 auto 60px; /* 需要margin-bottom (每頁的圈圈設定不同請留意) */
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.3;
    text-align: center;
    border-radius: 50%;
}
.index-sect-title-3-title::before {
    content: 'About us';
    display: inline-block;
    width: 100%;
    font-size: 1.1rem;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 4px;
    color: rgba(255, 255, 255, 0.5);
    font-family: cursive;
}
.index-sect-title { /* sect標題(優惠訊息、最新消息 除外) */
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
}
.index-sect-cont { /* sect內容容器(優惠訊息、最新消息 除外) */
    margin-top: 20px;
}
.index-sect-1 {  /* 優惠消息 */ /* 這裡會有摺疊的div */
    
}
.index-sect-2 {  /* 最新消息 */ /* 這裡會有摺疊的div */
    background-color: rgba(222, 222, 222, 0.25);
}
.index-sect-3 {  /* 關於我們 */ /* 這裡會有摺疊的div */

}
.index-sect-title-3  {  /* 關於我們的標題(2a不需要) */
    display: none;
}
.index-sect-4 {  /* 民宿特色 */ /* 這裡會有摺疊的div */
    background-color: rgba(200, 200, 200, 0.25);
}
.index-sect-5 {  /* 主人的話 */ /* 這裡會有摺疊的div */
    /* 背景為主題色不用在這裡設定 */
}
.index-sect-6 {  /* 民宿設施 */
    background-color: rgba(222, 222, 222, 0.25);
}
.index-sect-7 {  /* 民宿標章 */

}
.index-sect-7 .index-sect-cont {  /* 民宿標章 */
    margin-top: 0;
}

/* unfold-btn 的設定 */
.index-unfold-div { /* 文章過長控制div */
    position: relative;
}
.index-unfold-btn { /* 文章過長按鈕 */
    position: relative;
    display: block;
    width: 100%;
    height: 2rem;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    text-decoration: none;
}
.index-unfold-btn::before { /* 文章過長按鈕 */
    position: absolute;
    content: '';
    display: block;
    width: 0;
    height: 0;
    top: 3px;
    right: 0;
    left: 0;
    margin: auto;
    border: 12px solid transparent;
    z-index: 2;
}
/* slider */
.bnb-intro-photos.owl-carousel .owl-item .img-item,
.bnb-rooms.owl-carousel .owl-item .img-item {
    position: relative;
    width: 100%;
    padding-top: 62.57143%;
    background-color: #e0e0e0;
}
.bnb-intro-photos.owl-carousel .owl-item .img-item img,
.bnb-rooms.owl-carousel .owl-item .img-item img {
    position: absolute;
    width: auto;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    cursor: pointer;
    margin: auto;
}
/* room slider 2a only */
.bnb-rooms .owl-controls {
    position: absolute;
    width: 100%;
    top: 45%;
}
.bnb-rooms .owl-nav {
    position: relative;
    width: 100%;
}
.bnb-rooms .owl-nav .owl-prev {
    position: absolute;
    width: 26px;
    height: 36px;
    left: 20px;
}
.bnb-rooms .owl-nav .owl-next {
    position: absolute;
    width: 26px;
    height: 36px;
    right: 20px;
}
.bnb-rooms .owl-prev .arrow {
    background-position: 0 0;
}
.bnb-rooms .owl-next .arrow {
    background-position: -26px 0;
}
.bnb-rooms .arrow {
    position: relative;
    width: 26px;
    height: 36px;
    background: url('../images/arrow-slider.png');
    background-size: 104px 36px;
    overflow: hidden;
}
.img-item .room-link-blk {   /* a標籤 */
    display: none;
}
.owl-item.center .room-link-blk,
.img-item .room-link-blk.active {   /* a標籤 */
    position: absolute;
    display: block;
    width: 100%;
    max-width: 140px;
    margin: auto;
    top: 50%;
    left: 50%;
    transform:         translate(-50%, -50%);
    transform:     -ms-translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    color: #998881;
    text-decoration: none;
}
.room-inner-top { /* room-item 頭部裝飾背景 */
/*     display: block;
    width: 100%;
    padding-top: 12.1578%;
    overflow: hidden;
    background: url('../images/eu-bg-top-1.png') no-repeat 0 0;
    background-size: 100% auto; */
}
.room-head {
    position: relative;
    display: block;
    /* width: 100%; */
    padding: 1% 2%;
    text-align: center;
    font-size: 20px;
    line-height: 0px;
    background: url('../images/m-black-bg.png') no-repeat 0 0;
    background-size: 100%;
}
.room-head::before {
    position: absolute;
    content: '';
    display: block;
    right: 0;
    bottom: 18%;
    left: 0;
    margin: auto;
    font-size: 10px;
}
.room-inner-bot { /* room-item 底部裝飾背景 */
/*     display: block;
    width: 100%;
    padding-top: 12.1578%;
    overflow: hidden;
    background: url('../images/eu-bg-bot-1.png') no-repeat 0 0;
    background-size: 100% auto; */
}

.btn-prev-big {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 1005;
}
.btn-next-big {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 1005;
}
@media screen and (min-width: 1280px) {
    .main-sect { /* main的section */
        padding: 60px 20%;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1279px) {
    .main-sect { /* main的section */
        padding: 60px 12%;
    }
}
@media screen and (min-width: 1200px) {
    .btn-owlnav-big {
        width: 33%;
    }
    .btn-owlnav-big.few-3,
    .btn-owlnav-big.few-2,
    .btn-owlnav-big.few-1 {
        display: none;
    }
}
@media screen and (min-width: 1100px) and (max-width: 1199px) {
    .btn-owlnav-big {
        width: 26%;
    }
    .btn-owlnav-big.few-3,
    .btn-owlnav-big.few-2,
    .btn-owlnav-big.few-1 {
        display: none;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1099px) {
    .btn-owlnav-big {
        width: 29.5%;
    }
    .btn-owlnav-big.few-3,
    .btn-owlnav-big.few-2,
    .btn-owlnav-big.few-1 {
        display: none;
    }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
    .main-sect { /* main的section */
        padding: 60px 5%;
    }
    .btn-owlnav-big {
        width: 30%;
    }
}
@media screen and (min-width: 768px) {

}
@media screen and (max-width: 767px) {

    /* 2a mob style ▼ - (首頁和關於我們可以套用) */
    .swiper-outter-container { /* menu */
        padding-top: 60px;
    }
    h1::before, /* 各頁(除了首頁和關於我們) - 手機版民宿名稱不會有上邊線 */
    h1::after, /* 各頁(除了首頁和關於我們) - 手機版民宿名稱不會有下邊線 */
    .slogan, /* 各頁(除了首頁和關於我們) - 手機版不會有slogan */
    .master-pc-banner { /* 各頁(除了首頁和關於我們) - 不會有首頁的banner */
        /* display: none; */
    }
	.master-mob-banner {
        height: 100%;
        background-size: cover;
        background-position: 50% 0;
    }
    .mob-page-banner { /* 各頁(除了首頁和關於我們) - 獨立圖片banner */
        display: none;
    }
    .master-scroll-btn {
        display: block;
    }
    /* 2a mob style ▲ - (首頁和關於我們可以套用) */

    .main { /* 入住資訊 */

    }
    .main-sect { /* main的section */
        padding: 60px 5%;
    }
    .bnb-rooms .owl-nav .owl-prev {
        position: absolute;
        width: 13px;
        height: 18px;
        left: 4px;
    }
    .bnb-rooms .owl-nav .owl-next {
        position: absolute;
        width: 13px;
        height: 18px;
        right: 4px;
    }
    .bnb-rooms .owl-prev .arrow {
        background-position: 0 0;
    }
    .bnb-rooms .owl-next .arrow {
        background-position: -13px 0;
    }
    .bnb-rooms .arrow {
        position: relative;
        width: 13px;
        height: 18px;
        background: url('../images/arrow-slider.png');
        background-size: 52px 18px;
        overflow: hidden;
    }
    /* slider 房間文字 */
    .room-head {
        padding: 48px 2%;
    }
    .room-head::before {
        font-size: 1rem;
    }
    .btn-owlnav-big {
        width: 22%;
    }
}