* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
    -webkit-box-sizing: inherit;
}

html,
body {
    width: 100%;
    min-width: 320px;
    height: 100%;
    max-height: 99999px;
}

/* max-width: 1440px; */

body {
    font-family: Tahoma, Arial, "Heiti TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
    /* background-color: #fff; */
    line-height: 1.5;
    letter-spacing: 1px;
    font-size: 16px;
}

/* img {display: block;} */

a {
    text-decoration: none;
}

*.hidden,
*.v3-hidden {
    display: none !important;
}

.pre-html-tag ol {
    list-style-position: inside;
}

.pre-html-tag ul {}

.unfold .resp {
    display: block !important;
}

.resp {
    /* 初始被隱藏的文章 */
    display: none;
}

.yellow {
    color: #F7C631;
}

/* 硬寫 */

#divPalPal {
    height: 88px;
    overflow: hidden;
}

/* 新增YT */

.yt-div {
    width: 100%;
    max-width: 640px;
    height: 0;
    margin: 20px auto;
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
}

.yt-div iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* 版型專屬的 list-style */

.list-exc,
.pre-html-tag {
    line-height: 2;
}

.list-exc li {
    position: relative;
    float: left;
    padding-left: 20px;
}

.pre-html-tag ul li {
    position: relative;
    padding-left: 20px;
}

.pre-html-tag ul li::before,
.list-exc li::before {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    top: 0.85rem;
    left: 7px;
    border-radius: 50%;
}

.list-exc::after {
    content: '';
    display: block;
    clear: both;
}

/* news.aspx沒news時 */

.no-news-img {
    display: block;
    width: 100%;
    max-width: 850px;
    margin: auto;
}

/* ================================== */

/* display: none; in version 3a by id */

/* 用webpage000 逐一編號(順序不重要) 記得每項在右側註解他的位置(看得懂就好) */

#footerInforHead,
/* footer h3：聯絡資訊 (3a 出現) */

/* #footerPhoneTxt, */

/* footer 訂房專線文字 (2a 出現) */

/* #footerPhone, */

/* footer 聯絡電話 (2a 出現) */

/* #footerFax, */

/* footer 傳真 (2a 出現) */

#mobPageHead1a,
/* news.aspx的手機大標題 (1a 出現) */

/* #mobPageBanner2a, */

/* news.aspx的手機banner (2a 出現) */

#pageImg1_3a,
/* news.aspx、about_us.aspx、index.aspx的圖片 (3a 出現) */

#pageImg2_3a,
/* news.aspx、index.aspx的圖片 (3a 出現) */

#pageImg3_3a,
/* news.aspx、index.aspx的圖片 (3a 出現) */

#positionSectHead,
/* location.aspx的地址標題 (3a 出現) */

#contactFormHead,
/* contact.aspx的表單標題 (3a 出現) */

#detailSectHead,
/* room.aspx的房間資料 (3a 出現)  */

/* #aboutSectHead, */

/* about_us.aspx的大標題 (2a、3a 出現) */

/* #aboutSectHead1, */

/* index.aspx的大標題 (2a、3a 出現) */

/* #bnbRoomsSlider, */

/* about_us.aspx、index.aspx 的 slider (2a 出現) */

#bnbRoomsLinks3a,
/* 每頁都有的房間連結 (3a 出現) */

.clear-3a,
/* news.aspx、index.aspx 的 清float用的div (3a 出現) */

#mobileLinksSect1a,
/* index.aspx的手機才出現的連結 (1a 出現) */

#reservationFormTitle,
/* reservation.aspx 的 slider (3a 出現) */

#contactFormTitle
/* contact.aspx 的 slider (3a 出現) */

    {
    display: none;
}

header::after {
    position: absolute;
    content: '';
    display: block;
    clear: both;
    width: 100%;
    height: 7px;
    left: 0;
    bottom: 0;
    z-index: 500;
}

/* ================================== */

@media screen and (min-width: 1000px) {
    /* 版型專屬的 list-style */
    .list-exc li {
        width: 23%;
        margin-right: 2%;
    }
}

@media screen and (min-width: 768px) and (max-width: 999px) {
    /* 版型專屬的 list-style */
    .list-exc li {
        width: 32%;
        margin-right: 1%;
    }
}

@media screen and (min-width: 768px) {
    *.m-exc,
    *.m-exc-2a {
        display: none !important;
    }
}

@media screen and (max-width: 767px) {
    *.p-exc,
    *.p-exc-2a {
        display: none !important;
    }
    /* 版型專屬的 list-style */
    .list-exc li {
        width: 48%;
        margin-right: 2%;
    }
}

/* header */

header {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 480px;
    text-align: center;
    overflow: hidden;
}

.header-logo {
    position: relative;
    height: 180px;
    z-index: 4;
}

.header-logo img {
    width: 120px;
}

h1 {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    line-height: 2;
    color: #fff;
    /*text-shadow: 1px 1px 12px rgba(0,0,0,1), 1px 1px 15px rgba(0,0,0,1);*/
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 1), 1px 1px 10px rgba(0, 0, 0, 1), 1px 1px 12px rgba(0, 0, 0, 1);
    z-index: 4;
}

h1::before {
    position: absolute;
    content: '';
    display: block;
    width: 80%;
    height: 2px;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

h1::after {
    position: absolute;
    content: '';
    display: block;
    width: 80%;
    height: 2px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.master-pc-banner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
}

.master-pc-banner::after {
    /* content: ''; */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.33);
}

.slogan {
    position: relative;
    width: 320px;
    right: 0;
    left: 0;
    margin: auto;
    padding: 30px 10px 0;
    text-align: center;
    color: #fff;
    line-height: 2;
    text-shadow: 0 0 1px rgba(0, 0, 0, 1), 0 0 2px rgba(0, 0, 0, 1), 0 0 3px rgba(0, 0, 0, 1), 0 0 4px rgba(0, 0, 0, 1), 0 0 5px rgba(0, 0, 0, 1), 0 0 6px rgba(0, 0, 0, 1), 0 0 7px rgba(0, 0, 0, 1);
    z-index: 4;
}

/* nav */

.swiper-container {
    color: #fff;
    /*  */
}

/* main */

.main {
    background-image: url('../images/pattern.jpg');
    background-size: 32px 32px;
    background-repeat: repeat;
    background-position: 0 0;
}

/* footer */

footer {
    background-image: url('../images/pattern3.jpg');
    background-size: 32px 32px;
    background-repeat: repeat;
    background-position: 0 0;
    border-bottom: 20px solid #555;
}

.footer-inner-box {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    text-align: center;
}

footer h2 {
    font-weight: bold;
}

.footer-legal-bnb {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    padding: 8px;
}

.footer-bnb-link {
    font-size: 1.5rem;
}

.footer-main-tel {
    font-size: 1.5rem;
}

.booking-tel-div {
    padding: 20px 0 10px;
}

.tel-capt {
    position: relative;
    top: -2px;
    margin-right: 4px;
    padding: 2px 4px;
    color: #fff;
    background-color: #000;
    font-size: 0.9rem;
}

.footer-fans-club {
    display: block;
}

.footer-fans-club {
    position: relative;
    width: 218px;
    height: 27px;
    margin: 5px auto;
    overflow: hidden;
}

.footer-fans-club img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.footer-line-friend {
    display: block;
}

.footer-infor-div {
    padding: 10px 0;
}

.footer-infor-div li {
    padding-bottom: 5px;
}

.footer-infor-hint {
    font-size: 0.9rem;
}

/* 2018-12-22 新增icon */

/*footer-資訊類icon*/

.footer-info-2a-icons {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    top: 6px;
    left: -1px;
    background: url('../images/footer-info-2a.png') scroll no-repeat;
    background-size: 192px 24px;
}

.footer-info-2a-icons.for-address {
    background-position: 0 0;
}

.footer-info-2a-icons.email
.footer-info-2a-icons.for-fax {
    background-position: -48px 0;
}

.footer-info-2a-icons.for-email {
    background-position: -72px 0;
}

.footer-info-2a-icons.for-gps {
    background-position: -96px 0;
}

.footer-info-2a-icons.for-line {
    background-position: -120px 0;
}

.footer-info-2a-icons.for-wechat {
    background-position: -144px 0;
}

.footer-info-2a-icons.for-whatsapp {
    background-position: -168px 0;
}

.footer-copyright-information {
    padding: 10px 0;
}

.footer-share-list {
    padding: 10px 0;
}

.footer-share-list li {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 6px;
}

.footer-share-list li a {
    display: block;
    width: 100%;
    height: 100%;
}

.footer-share-list li {
    background: url('../../../images/footer-share-list.png') scroll no-repeat;
}

/*footer-社群icon*/

.footer-share-list li {
    background-size: 200px 50px;
}

.footer-share-list .facebook-link {
    background-position: 0 0;
}

.footer-share-list .line-link {
    background-position: -50px 0;
}

.footer-share-list .googleplus-link {
    background-position: -100px 0;
}

.footer-share-list .weibo-link {
    background-position: -150px 0;
}

/* to-top */

.page-to-top {
    position: fixed;
    display: block;
    width: 50px;
    height: 80px;
    right: 20px;
    bottom: 20px;
    z-index: 900;
}

/* has-chat-plugin (會改動to-top和google translate的位置) */

.has-chat-plugin .page-to-top {
    right: 35px;
    bottom: 100px;
}

/* google translate */

.google-language {
    position: fixed;
    z-index: 900;
}

.goo-trans-bar {
    width: 0;
    height: 0;
    overflow: hidden;
}

.toggleTrans {
    position: relative;
    display: block;
    width: 132px;
    height: 34px;
    line-height: 1;
    cursor: pointer;
}

.toggleTrans img {
    width: 100%;
    border: 1px solid #898989;
    line-height: 1;
}

.goo-trans-bar img {
    display: inline;
}

/* master-scroll-btn */

.master-scroll-btn {
    /* 2a獨有的捲動按鈕(每頁都有) */
    position: relative;
    display: block;
    width: 36px;
    height: 36px;
    margin: 20px auto;
    border-radius: 50%;
    z-index: 5;
}

/* 民宿標誌 */

.bnb-mark {
    /* 民宿相關標誌 = about-sect-cont-6 */
    width: 100%;
    margin: auto;
    overflow: hidden;
    text-align: center;
}

/* index & about 的 slider */

.two-slider-container {
    /* 2a 利用js動態產生的slider(只出現在index和about) */
    position: relative;
}

.slider-container-1 {
    /* 2a 才有的房間照片slider 的容器 */
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: #fff;
}

.slider-container-2 {
    /* 2a 才有的房間照片slider 的容器(他不能消失 因為他要用來撐開畫面) */
    background-color: #fff;
}

.slider-container-1.active {
    display: block;
}

.tab-div {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 7px;
    left: 0;
    z-index: 9;
}

.slider-tab {
    position: relative;
    display: inline-block;
    margin: auto;
    font-family: tahoma, Arial;
    text-align: center;
    text-decoration: none;
    border-radius: 10px 10px 0 0;
    z-index: 10;
}

.slider-tab::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 30px;
    bottom: 0;
    left: 0;
    background-image: url('../images/tab-shadow.png');
    background-size: 1px 30px;
    background-repeat: repeat-x;
    background-position: 0 0;
}

.slider-tab.active::before {
    background: none;
}

/*通用-alert*/

.alert-box {
    padding: 4px;
    background-color: #FFCA00;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .4);
}

.alert-box>div {
    padding: 30px 30px 20px;
    text-align: center;
    background-color: #FFF;
}

.alert-box>div div {
    text-align: left;
}

.alert-box>div input[type="submit"] {
    margin-top: 10px;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #303030;
    color: #FFF;
    letter-spacing: 1px;
}

@media screen and (min-width: 768px) {
    header {
        padding-top: 160px;
    }
    h1 {}
    .header-logo {
        padding-top: 30px;
    }
    .swiper-outter-container {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 995;
    }
    .swiper-container {
        /*用來設定nav的高*/
        position: fixed;
        width: 100%;
        height: 120px;
        top: 0;
        left: 0;
        padding: 0 40px;
        line-height: 120px;
        z-index: 996;
        background-color: #555;
    }
    .swiper-slide {
        float: left;
        display: block;
        padding: 0 20px;
        height: inherit;
        text-decoration: none;
        text-align: center;
        opacity: 0;
        z-index: 998;
    }
    .swiper-slide.active {
        position: relative;
    }
    .swiper-slide.active:before {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-top-width: 16px;
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        border-top-style: solid;
        right: 0;
        bottom: -16px;
        left: 0;
        margin: auto;
    }
    .swiper-slide span {
        display: inline-block;
        min-width: 68px;
    }
    .swiper-slide.m-exc,
    .swiper-slide.hidden {
        display: none;
    }
    .swiper-button-prev,
    .swiper-button-next {
        position: fixed;
        width: 40px;
        height: 120px;
        top: 0;
        line-height: 120px;
        cursor: pointer;
        opacity: 0;
        z-index: 999;
        background-color: rgba(0, 0, 0, 0.55);
    }
    .swiper-button-prev::after,
    .swiper-button-next::after {
        display: block;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1001;
        background-size: 120px 120px;
        opacity: 1;
    }
    .swiper-button-prev::before,
    .swiper-button-next::before {
        display: block;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1000;
        background: url('../../../images/arr-bg.png') no-repeat;
        background-size: 40px 120px;
        opacity: 0.98;
    }
    .swiper-button-prev::after {
        background-position: -10px 0;
    }
    .swiper-button-prev {
        left: 0;
    }
    .swiper-button-next::after {
        background-position: -70px 0;
    }
    .swiper-button-next {
        right: 0;
    }
    .swiper-button-prev:hover::after,
    .swiper-button-next:hover::after {
        opacity: 1;
    }
    .swiper-button-disabled {
        display: none;
    }
    /* == Basic Swiper Styles == */
    .swiper-container {
        margin: 0 auto;
        /* position:relative; */
        /* overflow:hidden; */
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
        /* Fix of Webkit flickering */
        /* z-index:1; */
    }
    .swiper-wrapper {
        position: relative;
        width: auto;
        margin: auto;
        -webkit-transition-property: -webkit-transform, left, top;
        -webkit-transition-duration: 0s;
        -webkit-transform: translate3d(0px, 0, 0);
        -webkit-transition-timing-function: ease;
        -moz-transition-property: -moz-transform, left, top;
        -moz-transition-duration: 0s;
        -moz-transform: translate3d(0px, 0, 0);
        -moz-transition-timing-function: ease;
        -o-transition-property: -o-transform, left, top;
        -o-transition-duration: 0s;
        -o-transform: translate3d(0px, 0, 0);
        -o-transition-timing-function: ease;
        -o-transform: translate(0px, 0px);
        -ms-transition-property: -ms-transform, left, top;
        -ms-transition-duration: 0s;
        -ms-transform: translate3d(0px, 0, 0);
        -ms-transition-timing-function: ease;
        transition-property: transform, left, top;
        transition-duration: 0s;
        transform: translate3d(0px, 0, 0);
        transition-timing-function: ease;
        z-index: 997;
    }
    .swiper-free-mode>.swiper-wrapper {
        -webkit-transition-timing-function: ease-out;
        -moz-transition-timing-function: ease-out;
        -ms-transition-timing-function: ease-out;
        -o-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        margin: 0 auto;
    }
    /* IE10 Windows Phone 8 Fixes */
    .swiper-wp8-horizontal {
        -ms-touch-action: pan-y;
    }
    .swiper-wp8-vertical {
        -ms-touch-action: pan-x;
    }
    /* == Basic Swiper Styles == */
    /* footer */
    .footer-inner-box {
        padding: 40px 0;
    }
    .footer-infor-list {
        width: 100%;
        max-width: 800px;
        margin: auto;
        text-align: left;
    }
    .footer-infor-list li {
        display: inline-block;
        width: 48%;
        margin: 4px 0;
        vertical-align: top;
        text-align: center;
    }
    .footer-relatived-link-list {
        padding-top: 20px;
    }
    .footer-relatived-link-list li {
        display: inline-block;
        margin-right: 16px;
    }
    /* 民宿標誌 */
    .bnb-mark {
        max-width: 600px;
    }
    .bnb-mark>div {
        display: inline-block;
        background-image: url('../../../images/mark-set.png');
        background-size: 978px 120px;
        margin: 40px 4px;
    }
    .legal-bnb-mark {
        width: 116px;
        height: 80px;
        background-position: 0 0;
    }
    .legal-hotel-mark {
        position: relative;
        width: 120px;
        height: 120px;
        top: 20px;
        background-position: -116px 0;
    }
    .friendly-bnb-mark {
        width: 142px;
        height: 80px;
        background-position: -236px 0;
    }
    .civil-travel-mark {
        position: relative;
        width: 120px;
        height: 120px;
        top: 20px;
        background-position: -378px 0;
    }
    .sgs-mark {
        position: relative;
        width: 120px;
        height: 120px;
        top: 24px;
        background-position: -498px 0;
    }
    .green-bnb-mark {
        position: relative;
        width: 120px;
        height: 120px;
        top: 10px;
        background-position: -618px 0;
    }
    .certified-hotspring-mark {
        position: relative;
        width: 120px;
        height: 120px;
        top: 10px;
        background-position: -738px 0;
    }
    .hualien-classic-mark {
        width: 120px;
        height: 80px;
        background-position: -858px 0;
    }
    /* index & about 的 slider */
    .slider-tab {
        width: 352px;
        height: 86px;
        font-size: 2rem;
        line-height: 86px;
    }
    .tab-1 {
        margin-right: 40px;
    }
    .google-language {
        right: 10px;
        top: 130px;
    }
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 9vw;
    }
    .master-scroll-btn {
        display: none;
    }
    /* menu btn */
    .master-menu-btn-div {
        position: fixed;
        width: 42px;
        height: 38px;
        top: 18px;
        right: 10px;
        border-radius: 4px;
        transition: .3s;
        z-index: 9999;
    }
    .master-menu-btn {
        position: relative;
        display: block;
        width: 42px;
        height: 38px;
        border: 1px solid #fff;
        border-radius: 3px;
        z-index: 9000;
        background-color: rgba(180, 180, 180, 0.32);
        box-shadow: 0 0 12px 1px #809999;
        -moz-box-shadow: 0 0 12px 1px #809999;
        -webkit-box-shadow: 0 0 12px 1px #809999;
    }
    .master-menu-bar {
        width: 31px;
        height: 3px;
        margin: auto;
        border-radius: 4px;
        transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -webkit-transform-origin: 50% 50%;
        transition: all .5s ease;
        background-color: #fff;
    }
    .bar1 {
        transform: translateY(9px);
        -ms-transform: translateY(9px);
        -webkit-transform: translateY(9px);
    }
    .bar2 {
        transform: translateY(14px);
        -ms-transform: translateY(14px);
        -webkit-transform: translateY(14px);
    }
    .bar3 {
        transform: translateY(19px);
        -ms-transform: translateY(19px);
        -webkit-transform: translateY(19px);
    }
    /* nav */
    .swiper-outter-container {
        position: fixed;
        display: block;
        width: 100%;
        height: 100vh;
        top: 0;
        left: -100%;
        padding-top: 46px;
        /* header 的高 */
        z-index: 8999;
        overflow-y: auto;
        /* transition: all .5s ease; */
        background-color: #555;
    }
    .swiper-outter-container.show-menu {
        left: 0;
        transition: all .5s ease;
    }
    .swiper-container {
        height: auto;
        line-height: 48px;
    }
    .swiper-slide {
        position: relative;
        display: block;
        width: 100%;
        float: none;
        min-height: 48px;
        text-decoration: none;
        text-align: center;
    }
    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
    /* footer */
    .footer-inner-box {
        padding: 40px 0 20px;
    }
    .footer-relatived-link-list li {
        height: 30px;
        line-height: 30px;
    }
    .footer-line-friend {
        position: relative;
        width: 117px;
        height: 28px;
        margin: 5px auto;
        overflow: hidden;
    }
    .footer-line-friend img {
        position: absolute;
        width: 219px;
        top: -28px;
        left: 0;
    }
    /* 民宿標誌 */
    .bnb-mark {
        max-width: 600px;
    }
    .bnb-mark>div {
        display: inline-block;
        background-image: url('../../../images/mark-set.png');
        background-size: 489px 60px;
        margin: 20px 2px;
    }
    .legal-bnb-mark {
        width: 58px;
        height: 40px;
        background-position: 0 0;
    }
    .legal-hotel-mark {
        position: relative;
        width: 60px;
        height: 60px;
        top: 10px;
        background-position: -58px 0;
    }
    .friendly-bnb-mark {
        width: 71px;
        height: 40px;
        background-position: -118px 0;
    }
    .civil-travel-mark {
        position: relative;
        width: 60px;
        height: 60px;
        top: 10px;
        background-position: -189px 0;
    }
    .sgs-mark {
        position: relative;
        width: 60px;
        height: 60px;
        top: 12px;
        background-position: -249px 0;
    }
    .green-bnb-mark {
        position: relative;
        width: 60px;
        height: 60px;
        top: 10px;
        background-position: -309px 0;
    }
    .certified-hotspring-mark {
        position: relative;
        width: 60px;
        height: 60px;
        top: 10px;
        background-position: -369px 0;
    }
    .hualien-classic-mark {
        width: 60px;
        height: 40px;
        background-position: -429px 0;
    }
    /* index & about 的 slider */
    .slider-tab {
        width: 40%;
        height: 40px;
        line-height: 40px;
        font-size: 1.25rem;
    }
    .tab-1 {
        margin-right: 20px;
    }
    /* has-chat-plugin (會改動to-top和google translate的位置) */
    .has-chat-plugin .google-language,
    .google-language {
        left: 10px;
        bottom: 50px;
    }
}